*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

#Java
*.iml
*.ipr
*.iws
.DS_Store
target
*~
.idea
*.swp
.classpath
.project
.settings
target
bin
.externalToolBuilders
.pdm
.idea
reports
*.releaseBackup
release.properties
